body {
  position: relative;
}
.display-3:nth-child(2) {
  color: #E9C893;
}
section#home {
 background: linear-gradient(rgba(0,0,0,0.5)) ,url(https://images.unsplash.com/photo-1572888195250-3037a59d3578?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxldGhpb3BpYW4lMjBoaWdobGFuZHMlMjBsYW5kc2NhcGUlMjBtb3VudGFpbnN8ZW58MXx8fHwxNzY5NjA1MDk2fDA&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral);
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 height: 650px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.229);
  background-color: #fff;
}
.card:hover {
   transform: scale(1.02);
    box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.089);
}
#home .btn-secondary {
 backdrop-filter: blur(5px);
 background-color: hsla(0, 0%, 100%, 0.105);
 transition: all 0.3s ease;
}#home .btn-secondary:hover {
 background-color: hsla(0, 0%, 100%, 0.15);
 transform: scale(1.05);
}
#home .btn-success {
 background-color: hsl(153, 40%, 30%);
 transition: all 0.3s ease;
}#home .btn-success:hover {
 background-color: hsla(153, 40%, 30%, 0.8);
 transform: scale(1.05);
}

.card-link, .card-link i{
  text-decoration: none;
  font-weight: 500;
}
.card-link:hover, .card-link i:hover{
 text-decoration: underline;
 color:black;
}
.card img {
  max-height:400px;
  object-fit:fill;
  transition: all 0.5s ease;
}
.card img:hover {
 object-fit: cover;
}
#down-arrow {
 animation: downUp 0.5s ease-in-out  infinite alternate;
}
#down-arrow:hover{
  animation-play-state: paused;
}
@keyframes downUp {
  0%,50%{
    transform: translateY(4px);
  }51%,100%{
    transform: translateY(-4px);
  }
}
@media(max-width: 768px){
  #input-wrapper {
  flex-direction: column;
}
}